body {
  background-image: url(images/Background.png);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1000px;
  height: 666px;
}

.clouds {
  position: absolute;
  left: 0px;
  top: 64px;
  width: 1000px;
  height: 603px;
}

.logo {
  position: absolute;
  left: 100px;
  top: 393px;
  width: 50px;
  height: 50px;
}

.line {
  position: absolute;
  left: 100px;
  top: 593px;
  width: 800px;
  height: 1px;
}

.up {
  font-size: 12px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  text-decoration: underline;
  line-height: 1.2;
  position: absolute;
  left: 100px;
  top: 61.902px;
}

.name {
  font-size: 25px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 100px;
  top: 100px;
}

.headtext {
  font-size: 13px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  position: absolute;
  left: 99px;
  top: 166.444px;
  width: 651px;
  height: 30px;
  z-index: 1;
}

a {
  color: white;
}

.left {
  font-size: 12px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.3;
  position: absolute;
  left: 99px;
  top: 229px;
  width: 350px;
  height: 106px;
  white-space: nowrap;
}

.right {
  font-size: 12px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.3;
  position: absolute;
  left: 497.107px;
  top: 229px;
  width: 394px;
  height: 91px;
}

.final {
  font-size: 13px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  position: absolute;
  left: 170px;
  top: 382.444px;
  width: 713px;
  height: 44px;
}

.end {
  font-size: 11px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.309;
  text-align: left;
  position: absolute;
  left: 99px;
  top: 622.301px;
}
